<%= header(:documentation) %>
      <div class="row">
        <div class="col-md-12">
          <h1>Documentation</h1>
          <h2>Reference</h2>
          <ul>
            <li><a href="https://github.com/coq-io/io"><code>coq:io</code></a>: <a href="http://coq-io.github.io/doc/io/3.1.0/toc.html">3.1.0</a></li>
            <li><a href="https://github.com/coq-io/system"><code>coq:io:system</code></a>: <a href="http://coq-io.github.io/doc/system/2.3.0/toc.html">2.3.0</a></li>
            <li><a href="https://github.com/coq-io/list"><code>coq:io:list</code></a>: <a href="http://coq-io.github.io/doc/list/1.1.0/toc.html">1.1.0</a></li>
            <li><a href="https://github.com/coq-io/exception"><code>coq:io:exception</code></a>: <a href="http://coq-io.github.io/doc/exception/1.1.0/toc.html">1.1.0</a></li>
          </ul>
          <div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES * * */
              var disqus_shortname = 'coq-io';

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
      </div>
<%= footer %>
