<%= header(:documentation) %>
      <div class="row">
        <div class="col-md-12">
          <h1>Documentation</h1>
          <h2>Reference</h2>
          <ul>
            <li><a href="https://github.com/coq-io/io"><code>coq:io</code></a>: <a href="http://coq-io.github.io/doc/io/3.1.0/toc.html">3.1.0</a></li>
            <li><a href="https://github.com/coq-io/system"><code>coq:io:system</code></a>: <a href="http://coq-io.github.io/doc/system/2.3.0/toc.html">2.3.0</a></li>
          </ul>
        </div>
      </div>
<%= footer %>
