<%= header(:getting_started) %>
      <div class="row">
        <div class="col-md-12">
          <h1>Getting started</h1>
          <p>To install the Coq.io library, enable the <a href="https://github.com/coq/repo-stable">repo-stable</a> OPAM repository and run:</p>
          <pre>opam install -j4 -v coq:io:system</pre>
          This will install the main library <code>coq:io</code> and some basic effects <code>coq:io:system</code> to interact with your operating system.

          <h2>Write a Hello World</h2>

          <h2>The effects system</h2>

          <h2>More examples</h2>

          <h2>Use concurrency</h2>

          <h2>Verification by use cases</h2>
        </div>
      </div>
<%= footer %>
