<%= header(:home) %>
      <div class="row">
        <div class="col-md-6">
          <img src="img/megaphone.svg" class="shake img-responsive center-block" alt="Logo" style="min-width: 300px; display: block; margin-top: 50px">
        </div>
        <div class="col-md-6">
          <h1 class="text-center">Coq.io</h1>
          <p class="lead text-center">Voice your Coq.</p>
          <p>Coq.io is a library to write <a href="https://coq.inria.fr/">Coq</a> programs with IO and concurrency. You code, you certify and you compile to a runnable <a href="https://ocaml.org/">OCaml</a> program with verified IO.</p>

          <h3>Try</h3>
          <p>Setup <a href="http://coq-blog.clarus.me/use-opam-for-coq.html">OPAM for Coq</a> and run:</p>
          <pre>opam install -j4 -v coq-io-hello-world
helloWorld
==> Hello world!</pre>
          <p>Then go to <a href="getting_started.html">Getting started</a>.</p>
        </div>
      </div>
<%= footer %>
